node-red/AirHealth-MQ9.json
[
    {
        "id": "769d16eb8ffd15a9",
        "type": "tab",
        "label": "MQ9 Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5aab6c730853ab60",
        "type": "mqtt in",
        "z": "769d16eb8ffd15a9",
        "name": "MQ9",
        "topic": "AirHealth/MQ9",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "152fb88b1df35095",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "2f56879dbc5e0384"
            ]
        ]
    },
    {
        "id": "2f56879dbc5e0384",
        "type": "template",
        "z": "769d16eb8ffd15a9",
        "name": "INSERT MQ9",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO mq9_readings (mq9_raw) VALUES ({{payload.mq9_raw}});",
        "output": "str",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "035edb7783c1b4a2",
                "97a64b39ecffa63c"
            ]
        ]
    },
    {
        "id": "035edb7783c1b4a2",
        "type": "mysql",
        "z": "769d16eb8ffd15a9",
        "mydb": "6e25beccd572e30d",
        "name": "Insert mq9 T",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "641b7b6662ab9813"
            ]
        ]
    },
    {
        "id": "641b7b6662ab9813",
        "type": "debug",
        "z": "769d16eb8ffd15a9",
        "name": "debug MQ9",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "97a64b39ecffa63c",
        "type": "mysql",
        "z": "769d16eb8ffd15a9",
        "mydb": "026744e325a78d30",
        "name": "Insert mq9 T",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "152fb88b1df35095",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e25beccd572e30d",
        "type": "MySQLdatabase",
        "name": "tal db",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545563",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "026744e325a78d30",
        "type": "MySQLdatabase",
        "name": "vince db",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545458",
        "tz": "",
        "charset": "UTF8"
    }
]