node-red/GoogleTrends.json
[
    {
        "id": "22b8d2a9342e1a6c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "22b8d2a9342e1a6c",
        "url": "/trends",
        "method": "post",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "22b8d2a9342e1a6c",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "func_map"
            ]
        ]
    },
    {
        "id": "func_map",
        "type": "function",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "func": "// force parse ถ้ายังเป็น string อยู่\nconst rows = typeof msg.payload === 'string'\n    ? JSON.parse(msg.payload)\n    : msg.payload;\n\nconst values = rows.map(row =>\n    `('${row.timestamp}', \n    ${row.cough ?? 0}, \n    ${row.breathless ?? 0}, \n    ${row.chest_tight ?? 0}, \n    ${row.wheeze ?? 0}, \n    ${row.allergy ?? 0}, \n    ${row.sore_throat ?? 0}, \n    ${row.itchy_throat ?? 0}, \n    ${row.headache ?? 0}, \n    ${row.dizziness ?? 0}, \n    ${row.nausea ?? 0}, \n    ${row.itchy_eyes ?? 0}, \n    ${row.stuffy_nose ?? 0}, \n    ${row.runny_nose ?? 0}, \n    ${row.pm25 ?? 0})`\n).join(',\\n');\n\nmsg.topic = `INSERT IGNORE INTO google_trends \n(timestamp, cough, breathless, chest_tight, wheeze, allergy, sore_throat, \nitchy_throat, headache, dizziness, nausea, itchy_eyes, stuffy_nose, runny_nose, pm25) \nVALUES ${values}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "mysql_insert",
                "ec3c8d04c7d01a99"
            ]
        ]
    },
    {
        "id": "mysql_insert",
        "type": "mysql",
        "z": "22b8d2a9342e1a6c",
        "mydb": "6e25beccd572e30d",
        "name": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "http_response",
                "debug"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "22b8d2a9342e1a6c",
        "statusCode": "200",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "22b8d2a9342e1a6c",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "ec3c8d04c7d01a99",
        "type": "mysql",
        "z": "22b8d2a9342e1a6c",
        "mydb": "026744e325a78d30",
        "name": "",
        "x": 700,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6e25beccd572e30d",
        "type": "MySQLdatabase",
        "name": "tal db",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545563",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "026744e325a78d30",
        "type": "MySQLdatabase",
        "name": "vince db",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545458",
        "tz": "",
        "charset": "UTF8"
    }
]