node-red/OpenAQ_OpeMeteo.json
[
    {
        "id": "8c37327f240f17af",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0ccb6ce4592bcc7",
        "type": "inject",
        "z": "8c37327f240f17af",
        "name": "Openaq",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "221cdb0954b71ea1"
            ]
        ]
    },
    {
        "id": "221cdb0954b71ea1",
        "type": "http request",
        "z": "8c37327f240f17af",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openaq.org/v3/parameters/2/latest?limit=100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-API-Key",
                "valueType": "other",
                "valueValue": "e6bbe2b3cd6aa141799b90d21636225b6686103e088b3b52a63db0b3a83e6cb4"
            }
        ],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "2d6b32cd09a6914b",
                "978d94f8a6344d81"
            ]
        ]
    },
    {
        "id": "e7257ec7739374cd",
        "type": "mysql",
        "z": "8c37327f240f17af",
        "mydb": "140b9573c3a29110",
        "name": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2d6b32cd09a6914b",
        "type": "debug",
        "z": "8c37327f240f17af",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "978d94f8a6344d81",
        "type": "function",
        "z": "8c37327f240f17af",
        "name": "function 2",
        "func": "// OpenAQ API v3 response structure\nif (!msg.payload || !msg.payload.results || msg.payload.results.length === 0) {\n    node.error(\"No results from OpenAQ v3\");\n    return null;\n}\n\nlet r = msg.payload.results[0];\n\n// พิกัดเซ็นเซอร์ของเรา\nlet myLat = 13.8462;\nlet myLon = 100.5690;\n\n// ข้อมูลจาก OpenAQ v3\nlet pm25 = r.value;\nlet lat = r.coordinates ? r.coordinates.latitude : 0;\nlet lon = r.coordinates ? r.coordinates.longitude : 0;\nlet sensorId = r.sensorsId || 0;\nlet locationId = r.locationsId || 0;\n\n// Haversine distance\nfunction toRad(x) { return x * Math.PI / 180; }\nlet R = 6371;\nlet dLat = toRad(lat - myLat);\nlet dLon = toRad(lon - myLon);\nlet a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n    Math.cos(toRad(myLat)) * Math.cos(toRad(lat)) *\n    Math.sin(dLon / 2) * Math.sin(dLon / 2);\nlet distance_km = R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n// เวลา - v3 format\nlet recorded_at = \"NOW()\";\nif (r.datetime && r.datetime.utc) {\n    let utc = r.datetime.utc.replace('T', ' ').replace('Z', '');\n    recorded_at = `'${utc}'`;\n}\n\nmsg.topic = `\nINSERT INTO official_pm25\n(source, station_name, lat, lon, distance_km, pm25, unit, recorded_at, fetched_at)\nVALUES (\n  'openaq_v3',\n  'location_${locationId}',\n  ${lat},\n  ${lon},\n  ${distance_km.toFixed(2)},\n  ${pm25},\n  'ug/m3',\n  ${recorded_at},\n  NOW()\n);`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "e7257ec7739374cd",
                "9fe8fc9a3d924379"
            ]
        ]
    },
    {
        "id": "9fe8fc9a3d924379",
        "type": "mysql",
        "z": "8c37327f240f17af",
        "mydb": "41b38e10a1205335",
        "name": "",
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bf114d6496543392",
        "type": "inject",
        "z": "8c37327f240f17af",
        "name": "OpenMeteo API ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "4d83b2cd20f5ec7b"
            ]
        ]
    },
    {
        "id": "4d83b2cd20f5ec7b",
        "type": "http request",
        "z": "8c37327f240f17af",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=13.8462&longitude=100.5690&current=temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m&timezone=Asia%2FBangkok",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-API-Key",
                "valueType": "other",
                "valueValue": "e6bbe2b3cd6aa141799b90d21636225b6686103e088b3b52a63db0b3a83e6cb4"
            }
        ],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "89b5a0f2874ea6dd",
                "cfd03db6a3438314"
            ]
        ]
    },
    {
        "id": "89b5a0f2874ea6dd",
        "type": "function",
        "z": "8c37327f240f17af",
        "name": "function 3",
        "func": "if (!msg.payload || !msg.payload.current) {\n    node.error(\"No current weather data from Open-Meteo\");\n    return null;\n}\n\nlet c = msg.payload.current;\n\nlet lat = msg.payload.latitude || 13.8462;\nlet lon = msg.payload.longitude || 100.5690;\n\nlet recorded_at = \"NOW()\";\nif (c.time) {\n    recorded_at = `STR_TO_DATE('${c.time}', '%Y-%m-%dT%H:%i')`;\n}\n\nmsg.topic = `\nINSERT INTO openmeteo_readings\n(source, lat, lon, temperature_2m, relative_humidity_2m, precipitation, weather_code, wind_speed_10m, recorded_at, fetched_at)\nVALUES\n(\n  'openmeteo',\n  ${lat},\n  ${lon},\n  ${c.temperature_2m ?? 0},\n  ${c.relative_humidity_2m ?? 0},\n  ${c.precipitation ?? 0},\n  ${c.weather_code ?? 0},\n  ${c.wind_speed_10m ?? 0},\n  ${recorded_at},\n  NOW()\n);`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "86ba159a3be73be4",
                "77592a2fdda35718"
            ]
        ]
    },
    {
        "id": "cfd03db6a3438314",
        "type": "debug",
        "z": "8c37327f240f17af",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "86ba159a3be73be4",
        "type": "mysql",
        "z": "8c37327f240f17af",
        "mydb": "140b9573c3a29110",
        "name": "",
        "x": 760,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "77592a2fdda35718",
        "type": "mysql",
        "z": "8c37327f240f17af",
        "mydb": "41b38e10a1205335",
        "name": "",
        "x": 760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "140b9573c3a29110",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545458",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "41b38e10a1205335",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545563",
        "tz": "",
        "charset": "UTF8"
    }
]