node-red/project.json
[
    {
        "id": "22b8d2a9342e1a6c",
        "type": "tab",
        "label": "project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "url": "/trends",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "22b8d2a9342e1a6c",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "func_map"
            ]
        ]
    },
    {
        "id": "func_map",
        "type": "function",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "func": "// force parse ถ้ายังเป็น string อยู่\nconst rows = typeof msg.payload === 'string'\n    ? JSON.parse(msg.payload)\n    : msg.payload;\n\nconst values = rows.map(row =>\n    `('${row.timestamp}', \n    ${row.cough ?? 0}, \n    ${row.breathless ?? 0}, \n    ${row.chest_tight ?? 0}, \n    ${row.wheeze ?? 0}, \n    ${row.allergy ?? 0}, \n    ${row.sore_throat ?? 0}, \n    ${row.itchy_throat ?? 0}, \n    ${row.headache ?? 0}, \n    ${row.dizziness ?? 0}, \n    ${row.nausea ?? 0}, \n    ${row.itchy_eyes ?? 0}, \n    ${row.stuffy_nose ?? 0}, \n    ${row.runny_nose ?? 0}, \n    ${row.pm25 ?? 0})`\n).join(',\\n');\n\nmsg.topic = `INSERT IGNORE INTO google_trends \n(timestamp, cough, breathless, chest_tight, wheeze, allergy, sore_throat, \nitchy_throat, headache, dizziness, nausea, itchy_eyes, stuffy_nose, runny_nose, pm25) \nVALUES ${values}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "mysql_insert",
        "type": "mysql",
        "z": "22b8d2a9342e1a6c",
        "mydb": "6e25beccd572e30d",
        "name": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "http_response",
                "debug"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "22b8d2a9342e1a6c",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "88f17f2e2baaa15f",
        "type": "mqtt in",
        "z": "22b8d2a9342e1a6c",
        "name": "PMS7003",
        "topic": "AirHealth/test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "152fb88b1df35095",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "fb8c8d981029fc7f"
            ]
        ]
    },
    {
        "id": "fb8c8d981029fc7f",
        "type": "template",
        "z": "22b8d2a9342e1a6c",
        "name": "INSERT PMS7003",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO pms7003_readings (pm2_5, pm10) VALUES ({{payload.pm2_5}}, {{payload.pm10}});",
        "output": "str",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "41347b66b1fde561",
        "type": "mqtt in",
        "z": "22b8d2a9342e1a6c",
        "name": "MQ9",
        "topic": "AirHealth/MQ9",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "152fb88b1df35095",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "aeaf1c35e195f0c7"
            ]
        ]
    },
    {
        "id": "aeaf1c35e195f0c7",
        "type": "template",
        "z": "22b8d2a9342e1a6c",
        "name": "INSERT MQ9",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO mq9_readings (mq9_raw) VALUES ({{payload.mq9_raw}});",
        "output": "str",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "9635905c6fa7fac1",
        "type": "inject",
        "z": "22b8d2a9342e1a6c",
        "name": "Openaq",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "b2e9a1743b68393b"
            ]
        ]
    },
    {
        "id": "b2e9a1743b68393b",
        "type": "http request",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openaq.org/v3/parameters/2/latest?limit=100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-API-Key",
                "valueType": "other",
                "valueValue": "e6bbe2b3cd6aa141799b90d21636225b6686103e088b3b52a63db0b3a83e6cb4"
            }
        ],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "4d26de25b56fca05",
                "7d3d2da37143e9ae"
            ]
        ]
    },
    {
        "id": "4d26de25b56fca05",
        "type": "debug",
        "z": "22b8d2a9342e1a6c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 980,
        "wires": []
    },
    {
        "id": "7d3d2da37143e9ae",
        "type": "function",
        "z": "22b8d2a9342e1a6c",
        "name": "function 4",
        "func": "// OpenAQ API v3 response structure\nif (!msg.payload || !msg.payload.results || msg.payload.results.length === 0) {\n    node.error(\"No results from OpenAQ v3\");\n    return null;\n}\n\nlet r = msg.payload.results[0];\n\n// พิกัดเซ็นเซอร์ของเรา\nlet myLat = 13.8462;\nlet myLon = 100.5690;\n\n// ข้อมูลจาก OpenAQ v3\nlet pm25 = r.value;\nlet lat = r.coordinates ? r.coordinates.latitude : 0;\nlet lon = r.coordinates ? r.coordinates.longitude : 0;\nlet sensorId = r.sensorsId || 0;\nlet locationId = r.locationsId || 0;\n\n// Haversine distance\nfunction toRad(x) { return x * Math.PI / 180; }\nlet R = 6371;\nlet dLat = toRad(lat - myLat);\nlet dLon = toRad(lon - myLon);\nlet a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n    Math.cos(toRad(myLat)) * Math.cos(toRad(lat)) *\n    Math.sin(dLon / 2) * Math.sin(dLon / 2);\nlet distance_km = R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n// เวลา - v3 format\nlet recorded_at = \"NOW()\";\nif (r.datetime && r.datetime.utc) {\n    let utc = r.datetime.utc.replace('T', ' ').replace('Z', '');\n    recorded_at = `'${utc}'`;\n}\n\nmsg.topic = `\nINSERT INTO official_pm25\n(source, station_name, lat, lon, distance_km, pm25, unit, recorded_at, fetched_at)\nVALUES (\n  'openaq_v3',\n  'location_${locationId}',\n  ${lat},\n  ${lon},\n  ${distance_km.toFixed(2)},\n  ${pm25},\n  'ug/m3',\n  ${recorded_at},\n  NOW()\n);`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 840,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "f7471a9229c5cd07",
        "type": "inject",
        "z": "22b8d2a9342e1a6c",
        "name": "OpenMeteo API ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "02ba91eb0db8695c"
            ]
        ]
    },
    {
        "id": "02ba91eb0db8695c",
        "type": "http request",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=13.8462&longitude=100.5690&current=temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m&timezone=Asia%2FBangkok",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-API-Key",
                "valueType": "other",
                "valueValue": "e6bbe2b3cd6aa141799b90d21636225b6686103e088b3b52a63db0b3a83e6cb4"
            }
        ],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "ddf852174c086376",
                "9d863bb8565eca56"
            ]
        ]
    },
    {
        "id": "ddf852174c086376",
        "type": "function",
        "z": "22b8d2a9342e1a6c",
        "name": "function 5",
        "func": "if (!msg.payload || !msg.payload.current) {\n    node.error(\"No current weather data from Open-Meteo\");\n    return null;\n}\n\nlet c = msg.payload.current;\n\nlet lat = msg.payload.latitude || 13.8462;\nlet lon = msg.payload.longitude || 100.5690;\n\nlet recorded_at = \"NOW()\";\nif (c.time) {\n    recorded_at = `STR_TO_DATE('${c.time}', '%Y-%m-%dT%H:%i')`;\n}\n\nmsg.topic = `\nINSERT INTO openmeteo_readings\n(source, lat, lon, temperature_2m, relative_humidity_2m, precipitation, weather_code, wind_speed_10m, recorded_at, fetched_at)\nVALUES\n(\n  'openmeteo',\n  ${lat},\n  ${lon},\n  ${c.temperature_2m ?? 0},\n  ${c.relative_humidity_2m ?? 0},\n  ${c.precipitation ?? 0},\n  ${c.weather_code ?? 0},\n  ${c.wind_speed_10m ?? 0},\n  ${recorded_at},\n  NOW()\n);`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "9d863bb8565eca56",
        "type": "debug",
        "z": "22b8d2a9342e1a6c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "8d85d1a9c758a4d3",
        "type": "mqtt in",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "topic": "AirHealth/KY015",
        "qos": "0",
        "datatype": "json",
        "broker": "fd32e31d4fb5d676",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "b80bf91b95cb7a20"
            ]
        ]
    },
    {
        "id": "b80bf91b95cb7a20",
        "type": "template",
        "z": "22b8d2a9342e1a6c",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO ky015_readings (temperature, humidity)\nVALUES ({{payload.temperature}}, {{payload.humidity}})",
        "output": "str",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "mysql_insert"
            ]
        ]
    },
    {
        "id": "6e25beccd572e30d",
        "type": "MySQLdatabase",
        "name": "tal db",
        "host": "iot.cpe.ku.ac.th",
        "port": "3306",
        "db": "b6710545563",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "152fb88b1df35095",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fd32e31d4fb5d676",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]